
.clearfix::after{
	content: "";
	display: table;
	clear: both;
}
ul{
	list-style: none;
	padding: 0px;
}
a{
	text-decoration: none;
}
input{
	border: none;
	outline: none;
}
.container{
	max-width: 1200px;
	margin: auto;
}

header{
	position: fixed;
	width: 100%;
	padding: 20px 0px;
	background-color: rgba(0,0,0,0.1);
}
header a{
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}
header a:hover{
	color: #339BEB;
}
header .logo{
	float: left;
}
header .logo img,
header .logo span{
	vertical-align: middle;
}

header .topMenu{
	float: right;
	margin-top: 5px;
}
header .topMenu ul li{
	float: left;
	margin: 0px 30px;
}

.banner{
	min-height: 600px;
	background: url(../img/c1002ff61423d49fe42c66a43f0a192d.jpg) no-repeat center top;
	
}